# Pandas Practice Exercises

Welcome to the Pandas practice exercises notebook. In this notebook, you will find 5 exercises related to the topics covered in the Pandas module of the AI Data course. Try to solve each exercise on your own. At the end of the notebook, you will find the solutions to compare your answers. If you have any doubts while solving the exercises, feel free to review the theoretical content of the course.

Good luck and happy learning!

### Exercise 1: Create a DataFrame from a dictionary of lists.

Create a DataFrame using the data provided in the dictionary.

In [ ]:
import pandas as pd

# Data dictionary
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 24, 35, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London']
}
# Your code here

### Exercise 2: Select the 'Name' and 'Age' columns from the DataFrame.

Use DataFrame indexing to select the 'Name' and 'Age' columns.

In [ ]:
import pandas as pd

data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 24, 35, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London']
}
df = pd.DataFrame(data)
# Your code here

### Exercise 3: Filter the DataFrame to only include rows where the Age is greater than 30.

Use a boolean mask to filter the rows where the 'Age' is greater than 30.

In [ ]:
import pandas as pd

data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 24, 35, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London']
}
df = pd.DataFrame(data)
# Your code here

### Exercise 4: Add a new column 'Country' to the DataFrame with the values ['USA', 'France', 'Germany', 'UK'].

Add a new column to the DataFrame using the data provided.

In [ ]:
import pandas as pd

data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 24, 35, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London']
}
df = pd.DataFrame(data)
# Your code here

### Exercise 5: Calculate the mean age of the individuals in the DataFrame.

Use the mean function to calculate the average age.

In [ ]:
import pandas as pd

data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 24, 35, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London']
}
df = pd.DataFrame(data)
# Your code here

## Solutions

### Solution to Exercise 1: Create a DataFrame from a dictionary of lists.

In [ ]:
import pandas as pd

data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 24, 35, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London']
}

df = pd.DataFrame(data)
print(df)

### Solution to Exercise 2: Select the 'Name' and 'Age' columns from the DataFrame.

In [ ]:
import pandas as pd

data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 24, 35, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London']
}
df = pd.DataFrame(data)

selected_columns = df[['Name', 'Age']]
print(selected_columns)

### Solution to Exercise 3: Filter the DataFrame to only include rows where the Age is greater than 30.

In [ ]:
import pandas as pd

data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 24, 35, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London']
}
df = pd.DataFrame(data)

filtered_df = df[df['Age'] > 30]
print(filtered_df)

### Solution to Exercise 4: Add a new column 'Country' to the DataFrame with the values ['USA', 'France', 'Germany', 'UK'].

In [ ]:
import pandas as pd

data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 24, 35, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London']
}
df = pd.DataFrame(data)

df['Country'] = ['USA', 'France', 'Germany', 'UK']
print(df)

### Solution to Exercise 5: Calculate the mean age of the individuals in the DataFrame.

In [ ]:
import pandas as pd

data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 24, 35, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London']
}
df = pd.DataFrame(data)

mean_age = df['Age'].mean()
print(mean_age)